body *, body *:before, body *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
  outline: none;
}

a {
  text-decoration: none;
}

.el-notification.right {
  right: 24px;
}

.el-popper {
  color: var(--light-admin-text-color);
}

.el-drawer.article-settings-drawer.outer {
  transform: translateX(-6%);
}

.el-drawer__header {
  position: relative;
  padding-top: 12px;
  margin-bottom: 16px;
}

.el-drawer__body {
  padding-top: 0;
  padding-bottom: 0;
  overflow: auto;
  max-height: calc(100% - 108px);
}

.el-popper {
  min-width: 80px !important;
}

a {
  color: rgba(94, 53, 177, 0.5);

  &:visited {
    color: rgb(94, 53, 177);
  }

  &:focus {
    color: var(--el-color-warning);
  }

  &:hover {
    color: rgba(94, 53, 177, 0.8);
  }
}

:root {
  --light-admin-background-color: #f8f8f8;
  --light-admin-background-accent-color: #f0f0f0;
  --light-admin-text-color: #878FA7;
  --light-admin-nav-hover-color: #efefef;
  --light-admin-text-accent-color: #002f47;
  --site-font-family: -apple-system, "Noto Sans", "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Noto Sans CJK SC", "Source Han Sans SC", "Source Han Sans CN", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
  --article-font-family: "Noto Serif SC", Georgia, "Nimbus Roman No9 L", "Songti SC", "Noto Serif CJK SC", "Source Han Serif SC", "Source Han Serif CN", STSong, "AR PL New Sung", "AR PL SungtiL GB", NSimSun, SimSun, "TW\-Sung", "WenQuanYi Bitmap Song", "AR PL UMing CN", "AR PL UMing HK", "AR PL UMing TW", "AR PL UMing TW MBE", PMingLiU, MingLiU, serif;
  --code-font-family: Menlo, Monaco, Consolas, "Andale Mono", "lucida console", "Courier New", monospace;
}
