body *, body *:before, body *:after {
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
}

ul, ol{
  list-style: none;
  outline: none;
}

a {
  text-decoration: none;
}

.el-notification.right {
  right: 24px;
}

.el-popper {
  color: var(--light-admin-text-color);
}

.el-popper__arrow {
  display: none;
}

.el-drawer.article-settings-drawer.outer {
  transform: translateX(-6%);
}

.el-drawer__header {
  position: relative;
  padding-top: 12px;
  margin-bottom: 16px;
}

.el-drawer__body {
  padding-top: 0;
  padding-bottom: 0;
  overflow: auto;
  max-height: calc(100% - 108px);
}

:root{
  --light-admin-background-color: #f8f8f8;
  --light-admin-background-accent-color: #f0f0f0;
  --light-admin-text-color: #878FA7;
  --light-admin-nav-hover-color: #efefef;
  --light-admin-text-accent-color: #002f47;
}
