body *, body *:before, body *:after {
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
}

ul, ol{
  list-style: none;
  outline: none;
}

a {
  text-decoration: none;
}

.el-notification.right {
  right: 24px;
}

.el-popper {
  color: var(--light-admin-text-color);
}

:root{
  --light-admin-background-color: #f8f8f8;
  --light-admin-background-accent-color: #f0f0f0;
  --light-admin-text-color: #878FA7;
  --light-admin-nav-hover-color: #efefef;
  --light-admin-text-accent-color: #002f47;
}
