:root {
  --primary: #1081e8;
  --on-primary: #fff;
  --secondary: #00afb8;
  --tertiary: #fa8501;
  --quaternary: #ff4d61;
  --text: #878fa7;
  --textAccent: #002f47;
  --background: #f8f8f8;
  --on-background: #fff;
}