// must
@use "../core/util";
$--font-path:'~element-plus/theme-chalk/src/fonts';

// theme
$--color-primary: #1081e8;
$--color-success: #00afb8;
$--color-warning: fade-out(#ff4d61, 0.3);
$--color-danger: fade-out(#ff4d61, 0.1);
$--color-error: #ff4d61;
$--color-info: #878fa7;

// responsive breakpoint
$--sm: 640px;
$--md: 768px;
$--lg: 1024px;
$--xl: 1280px;

// border-radius
$--border-radius: (
      'base': 8px,
      'small': 4px,
      'round': 20px,
      'circle': 100%,
);

$--box-shadow: (
      'base': (
        0 2px 4px rgba(0, 0, 0, 0.12),
        0 0 6px rgba(0, 0, 0, 0.04),
      ),
      'light': 0 2px 8px 0 rgba(0, 0, 0, 0.1),
);

$--notification: (
  'title-font-size': 14px,
);

$--footer: (
  'height': 200px
);








