

// Responsive Breakpoints
$xs: 480px ;
$sm: 576px ;
$md: 768px ;
$lg: 992px ;
$xl: 1200px ;
$xxl: 1600px ;
// / Responsive Breakpoints

// radius
$micro-radius: 8px;
$normal-radius: 12px;
// / radius

// Font Weights
$fw-regular: 400;
$fw-semibold: 600;
$fw-bold: 700;
// / Font Weights